### BFS

In [1]:
import numpy as np
import pandas as pd

par = [4.944, 4.951, 4.709, 4.672, 4.865]
seq = [14.654, 14.701, 14.561, 14.697, 15.076]

pd.DataFrame({
    'Run': ['1', '2', '3', '4', '5', 'Avg'],
    'Seq, s': seq+[float(np.mean(seq))],
    'Par, s': par+[float(np.mean(par))],
    'Ratio': np.array(seq+[float(np.mean(seq))]) / np.array(par+[float(np.mean(par))])
})

   Run   Seq, s  Par, s     Ratio
0    1  14.6540  4.9440  2.963997
1    2  14.7010  4.9510  2.969299
2    3  14.5610  4.7090  3.092164
3    4  14.6970  4.6720  3.145762
4    5  15.0760  4.8650  3.098869
5  Avg  14.7378  4.8282  3.052442